@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	color: #333;
	text-decoration: none;
	list-style: none;
}

/*ヘッダー*/
header {
	width: 100%;
	background-color: #fff;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1); /* 下部にボックスシャドウを追加 */
	z-index: 9999;
}

.head_img {
	width: 200px;
}

.head_ul {
	display: flex;
}
.head_ul li {
	margin: 0px 10px;
}

.head_ul li a {
	position: relative;
}

.head_ul li a::after {
position: absolute;
left: 0;
content: '';
width: 100%;
height: 1px;
background: blue;
bottom: 1px; /*アンダーラインが現れ始める位置（aタグの下辺からの高さ）*/
opacity: 0;
visibility: hidden;
transition: 0.3s;
}

.head_ul li a:hover::after {
visibility: visible;
bottom: 3px;
opacity: 0.8;
}

/*ナビゲーションボトム*/
@media screen and (min-width: 1000px) {
    /* 1000px以上に適用されるCSS（PC用） */
    .nav-ul {
        display: none; /* ナビゲーションボトムを非表示にする */
    }
}
/*--------------------*/

.bg-slider {
	width: 100%;
	height: 100vh;
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bg-slider__title{
	color: #fff;
	font-size: 64px;
	line-height: 1.5;
	font-weight: bold;
	text-align:center;
	text-shadow: 1px 1px 1px #000;
}


/*ニュース*/
.news {
  padding: 50px 0;
  background: rgba(162, 203, 239, 0.7);
}


.inner {
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  padding: 65px 0 50px;
}


.sub_ttl {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

/* ここからがニュース記事のCSS */

.news_list {
  margin: 0 5%;
}

.news_list_item {
  padding: 25px 0;
  border-bottom: 1px solid #E6E6E6;
}

.news_list_item:first-child {
  border-top: 1px solid #E6E6E6;
}
.news_list_item a {
 position: relative;
 display: flex;
 padding-right: 30px;
}

.news_list_date {
  font-size: 15px;
  display: flex;
  margin-right: 15px;
  align-items: center;
}

.news_item {
  background: rgba(162, 203, 239, 0.7);
  border-radius: 14px;
  width: 6em;
  /* 親要素の文字サイズを基準 */
  text-align: center;
  margin-left: 20px;
}

.arrow {
  width: 25px;
  height: 1px;
  background: #707070;
  position: absolute;
  top: 50%;
  right: 0;
}

.arrow::after {
  content: "";
  display: block;
  width: 6px;
  height: 1px;
  background: #707070;
  transform: rotate(45deg);
  position: absolute;
  right: 0px;
  bottom: 2px;
}

.news-btn {
	margin: 16px 0px;
}

.read-more {
	width: 120px;
	display: block;
	margin: auto;
	padding: 8px 32px;
	border-radius: 100px;
	text-align: center;
	background-color: rgba(162, 203, 239, 0.7);
}


@media screen and (max-width: 1024px) {
    .news_list_item a {
        display: block;
    }
}

@media screen and (max-width: 769px) {
    .news_list_item a  {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .arrow {
        display: none;
    }
    .news_list_item a {
        padding-right: 0;
    }
}


/*ビジョン・ミッション*/
.slide_bgimg {
	width: 100%;
	height: 400px;
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slide_content {
	width: 70%;
	display: block;
	margin: auto;
	border-radius: 5px;
	background-color:rgba(255, 255, 255, 0.7);
}
.slide_item {
	padding: 32px;
}
.slide_item h2 span {
	width: 100%;
	font-size: 32px;
	border-bottom: 5px solid rgba(162, 203, 239, 0.7);
}

.second_content {
	width: 100%;
	margin: 24px 0px;
}
.second_content h3 {
	margin: 24px 0px;
	text-align: center;
	font-size: 24px;
}
.second_content p {
	text-align: center;
	font-size: 16px;
}

/*採用情報*/
.recruit {
  padding: 24px 0px;
  margin-bottom: 24px;
}

.recruit_title {
	text-align: center;
	font-size: 32px;
}
.recruit_title span {
	border-bottom: #707070 solid 2px;
}

.recruit_flex_box {
  display: flex;
  justify-content: center;
}

.recruit_box {
  width: 380px;
  border: 5px solid rgba(162, 203, 239);
  border-radius: 5px;
  margin: 24px 32px;
  padding: 24px 8px;
}

.recruit_box h3 {
  text-align: center;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 28px;
}
.recruit_box p {
  font-size: 16px;
}
.recruit_btn {
	display: flex;
	justify-content: space-evenly;
}
.recruit_btn_flex {
	font-size: 16px;
}
.first_recruit {
	background-color: skyblue;
	padding: 8px 32px;
	border-radius: 100px;
}
.second_recruit {
	background-color: orange;
	padding: 8px 32px;
	border-radius: 100px;
}

/*アクセス情報*/
.access {
	width: 100%;
	background-color: rgba(162, 203, 239);
	padding: 32px 0px;
}
.access_title {
	text-align: center;
	font-size: 32px;
	margin: 16px 0px;
}
.access_title span {
	border-bottom: #707070 solid 2px;
}

.access_flex_box {
	display: flex;
	justify-content: space-evenly;
}

.access_btn {
	margin-top: 24px;	
}
.access_btn a {
	padding: 8px 24px;
	border-radius: 100px;
	background-color: darkseagreen;
}
.access_map_box iframe {
	height: 240px;
}
/*フッター設定
---------------------------------------------------------------------------*/
.footer_top {
	width: 100%;
	height: 320px;
	display: flex;
	justify-content: space-around;
/*	align-items: center;*/
}

.footer_one a img {
	width: 240px;
	margin-top: 32px;
}

.footer_second {
	line-height: 2;
	padding-top: 40px;
}

.footer_second h1 span {
	color: #000;
	font-size: 32px;
	border-bottom: 2px solid rgba(162, 203, 239, 0.7);
}

.footer_second p a {
	color: #000;
	line-height: 2.5;
	font-size: 16px;
}

.footer_second p a:hover {
	border-bottom: 1px solid rgba(162, 203, 239, 0.7);
}

.footer_third {
	line-height: 2;
	padding-top: 40px;
}

.footer_third h1 span {
	color: #000;
	font-size: 32px;
	border-bottom: 2px solid rgba(162, 203, 239, 0.7);
}

.footer_line {
	margin: 32px 0px;
}

.footer_line a {
	color: #fff;
	background-color: #06C755;
	border-bottom: 5px solid #094;
	padding: 10px 20px;
	font-size: 1.2rem;
	border-radius: 100vh;
}

.footer_line a:hover {
	color: #fff;
	background: #4CC764;
	border-bottom: 2px solid #4CC764;
}

.footer_line a i {
	margin-right: 1rem;
	font-size: 1.2rem;
	color: #fff;
}

.footer_contact {
	margin-top: 40px;
}

.footer_contact a {
	color: #fff;
	background-color: #eb6100;
	border-bottom: 5px solid #d25600;
	padding: 10px 20px;
	font-size: 1.2rem;
	border-radius: 100vh;
}

.footer_contact a:hover {
	background-color: #eb7900;
	border-bottom: 2px solid #eb7900;
}

.footer_contact a i {
	margin-right: 1rem;
	font-size: 1.2rem;
	color: #fff;
}

/*コピーライト
---------------------------------------------------------------------------*/
#copyright {
	clear: both;
	text-align: center;
	background: rgba(162, 203, 239);
	/*背景色*/
}



@media screen and (max-width: 1000px) {
	/* 959px以下に適用されるCSS（タブレット・スマホ用） */
	header {
		display: none;
	}
	
    .nav-ul {
		position: fixed;
        left: 0;
        bottom: 0;
        background-color: #fff;
        width: 100%;
        align-items: center;
        display: flex; /* ナビゲーションボトムを表示するように修正 */
        justify-content: space-around; /* 項目を等間隔で配置するための修正 */
        box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1); /* トップの部分にボックスシャドーを追加 */
        z-index: 9999;
     }
     .nav-li-no-hover img {
		width: 56px;
	 }
     .nav-li {
        flex-grow: 1; /* 各項目が等幅になるように修正 */
        text-align: center;
        padding: 4px 12px; /* 適切なパディングを追加 */
     }
     .nav-li:hover {
		opacity: 0.7;
	 }
     .nav-link i {
		font-size: 24px;
	 }
     .nav-link .iconname {
		font-size: 10px;
	 }
	 
	.bg-slider {
		width: 100%;
	 }
	
	.bg-slider__title {
		font-size: 40px;
	 }
	 
	 /*ビジョン・ミッション*/
	 .slide_bgimg {
		height: 320px;
	}
	.slide_content {
		width: 90%;
		margin: 60px;
	}
	.slide_item {
		padding: 24px;
	}
	
	.slide_item h2 span {
		width: 100%;
		font-size: 28px;
		border-bottom: 5px solid rgba(162, 203, 239, 0.7);
	}
	.second_content {
		width: 100%;
		margin: 16px 0px;
	}
	
	.second_content h3 {
		font-size: 20px;
	}
	.second_content p {
		font-size: 10px;
	}
	
	
	/*採用情報*/
	.recruit_title {
		text-align: center;
		font-size: 28px;
	}
	.recruit_flex_box {
		display: block;
	}
	.recruit_box {
		width: 280px;
		margin: 24px 32px;
		padding: 24px 8px;
	}
	.recruit_box h3 {
		font-size: 16px;
	}
	.recruit_box p {
		font-size: 10px;
	}
	
	/*アクセス情報*/
	.access {
		padding: 16px 0px;
	}
	.access_title {
		font-size: 28px;
	}
	.access_flex_box {
		display: block;
		padding: 0px 32px;
	}
	.access_map_box iframe {
		height: 160px;
		width: 100%;
		display: block;
		margin: auto;
	}
	.access_btn {
		margin-bottom: 24px;	
	}
	
		/*フッター設定
---------------------------------------------------------------------------*/
	.footer_top {
		height: 720px;
		display: block;
		padding-bottom: 16px;
	}

	.footer_one #footer_top_img img {
		margin: auto;
		display: block;
		padding: 16px 0px 0px;
	}

	.footer_second h1 {
		text-align: center;
	}

	.footer_second p {
		text-align: center;
	}

	.footer_third {
		text-align: center;
	}


}